<% layout('./layouts/boilerplate') %>
<section class="flex justify-center">
  <div class="card bg-base-100 shadow-xl w-1/2 portrait:w-11/12">
    <div class="card-body">
        <h1 class="card-title"><%=err.message %></h1>
        <p><%= //err.stack  %></p>
        <a href="/home" class="btn btn-accent text-white"> Back to Home</a>
    </div>
  </div>
</section>
