<% layout("layouts/boilerplate") %>
<section id="login" class="flex justify-center mb-6">
  <div class="card bg-base-100 w-1/2 shadow-xl portrait:w-11/12">
    <div class="card-body items-center text-center gap-6">
        <h2 class="card-title">Login</h2>
      <form
        id="createUser"
        class="flex flex-col items-center group"
        action="/login"
        method="POST"
      >
        <label class="input input-bordered flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70"
          >
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
            />
          </svg>
          <input
            type="text"
            class="grow"
            name="username"
            placeholder="Username"
            required
          />
        </label>

        <label class="input input-bordered flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70"
          >
            <path
              fill-rule="evenodd"
              d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
              clip-rule="evenodd"
            />
          </svg>
          <input
            type="password"
            class="grow"
            name="password"
            placeholder="Password"
            required
          />
        </label>


        <button
          id="loginBtn"
          class="btn btn-accent text-white group-invalid:pointer-events-none group-invalid:opacity-30"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</section>
