<div class="navbar bg-base-100 shadow mt-6 rounded-full w-2/3 portrait:w-11/12 mb-4">
  <div class="navbar-start">
    <div class="dropdown landscape:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-44 p-2 shadow">
        <li><a href="/home">home</a></li>
        <li><a href="/campgrounds">campgrounds</a></li>
        <li><a href="/campgrounds/new">new campground</a></li>
      </ul>
    </div>
    <a class="text-xl font-bold text-accent ml-4 portrait:ml-0">airCamp</a>
  </div>
  <div class="navbar-center portrait:hidden">
    <a class="btn btn-ghost text-xl rounded-full" href="/home">home</a>
    <a class="btn btn-ghost text-xl rounded-full" href="/campgrounds">campgrounds</a>
    <a class="btn btn-ghost text-xl rounded-full" href="/campgrounds/new">new campground</a>
  </div>
  <div class="navbar-end">
    <% if(!currentUser) {%>
    <a class="btn btn-ghost portrait:text-base text-xl rounded-full " href="/login">login</a>
    <a class="btn btn-ghost portrait:text-base text-xl rounded-full" href="/register">register</a>
    <% } else { %>
    <a class="btn btn-ghost portrait:text-base text-xl rounded-full" href="/logout">logout</a>
    <% } %>
  </div>
</div>
