<% layout('./layouts/boilerplate') %>

<section id="new-camp" class="flex justify-center mb-6">
  <div class="card bg-base-100 w-1/2 shadow-xl portrait:w-11/12">
    <div class="card-body items-center text-center gap-6">
      <h2 class="card-title">Add Campground</h2>
      <form action="/campgrounds" method="POST" class="w-full">
        <div>
          <input
            type="text"
            placeholder="Title"
            class="mb-4 input input-accent input-bordered w-full max-w-xs"
            name="campground[title]"
            id="title"
            required
          />
        </div>
        <div>
          <input
            type="text"
            placeholder="Location"
            class="mb-4 input input-accent input-bordered w-full max-w-xs"
            name="campground[location]"
            id="location"
            required
          />
        </div>
        <div>
          <input
            type="text"
            placeholder="Image URL"
            class="mb-4 input input-accent input-bordered w-full max-w-xs"
            name="campground[image]"
            id="image"
          />
        </div>
        <div class="ml-2 ">
          <p class="inline text-xl text-accent">$</p>
          <input
            type="number"
            placeholder="0.00"
            class="mb-4 input input-accent input-bordered w-[52%] portrait:w-[94%] max-w-xs"
            name="campground[price]"
            id="price"
            required
          />
        </div>
        <div>
          <textarea
            placeholder="Description"
            class="mb-4 textarea textarea-accent w-[56%] portrait:w-full"
            name="campground[description]"
            id="description"
            required
          ></textarea>
        </div>
        <button class="btn btn-accent text-white">Add Campground</button>
      </form>

      <footer>
        <a class="link link-accent" href="/campgrounds">Back to All</a>
      </footer>
    </div>
  </div>
</section>
